<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="clientService" class="com.joseph.ClientService" factory-method="createInstance">

    </bean>
    <bean id="defaultMovieFinder" class="com.joseph.MovieFinder">
        <constructor-arg name="movieId" value="1"/>
        <constructor-arg name="movieName" value="Default Name"/>
    </bean>
</beans>